article.about {
  position: relative;

  left: 0;
  width: 100%;
  height: 1200px;

  box-sizing: border-box;
}

article.about section {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 600px;

  cursor: pointer;
  transition: transform 1s ease;
}

article.about section.about-1 {
  top: 0px;
}

article.about section.about-2 {
  top: 600px;
}

article.about section.pop::after {
  position: absolute;

  color: aliceblue;
  font-size: 30px;
  bottom: 30px;

  z-index: 1;
}

article.about section.pop.about-1::after {
  right: 30px;
  content: 'CLICK & VIEW HISTORY ▶';
}

article.about section.pop.about-2::after {
  left: 30px;
  content: '◀ CLICK & VIEW ORGANIZATION';
}

article.about section.about-1.hide {
  transform: translateX(100vw);
}

article.about section.about-2.hide {
  transform: translateX(-100vw);
}

article.about section.about-1.pop.history {
  transform: translateX(-100vw);
}

article.about section.about-2.pop.organization {
  transform: translateX(100vw);
}

article.about section .background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-position: 50% 50%;
  background-size: cover;

  z-index: 0;
}

article.about section.pop .background {
  animation: blur-background 2s forwards;
}

@keyframes blur-background {
  0% {
    filter: none;
  }
  50% {
    filter: none;
  }
  100% {
    filter: blur(1px) brightness(0.8);
  }
}

article.about section.about-1 .background {
  background-image: url('../img/about-1.png');
}

article.about section.about-2 .background {
  background-image: url('../img/about-2.png');
}

article.about section > span {
  left: 50%;
  top: 50%;

  color: aliceblue;
  font-size: 30px;
  font-weight: bold;
  line-height: 70px;

  opacity: 0;
  z-index: 1;
  transition: filter 0.3s linear;
}

article.about section.pop > span {
  animation: pop-ment 2s forwards;
}

@keyframes pop-ment {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

article.about section.about-1 > .history,
article.about section.about-2 > .organization {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: inherit;
  height: inherit;

  background: rgba(245, 245, 245, 0.6);
}

article.about section.about-1 > .history {
  align-items: flex-start;
  left: 100vw;
}

article.about section.about-2 > .organization {
  align-items: center;
  left: -100vw;
}

article.about section.about-1 > .history::after {
  content: '◀ CLICK & BACK';
  position: absolute;

  left: 30px;
  bottom: 30px;

  color: darkblue;
  font-size: 30px;

  z-index: 1;
}

article.about section.about-2 > .organization::after {
  content: 'CLICK & BACK ▶';
  position: absolute;

  right: 30px;
  bottom: 30px;

  color: darkblue;
  font-size: 30px;

  z-index: 1;
}

article.about section.about-1 > .history .title {
  width: 100%;

  font-size: 30px;
  font-weight: bold;
  text-align: center;

  margin: 20px 0;
}

article.about section.about-2 > .organization .title {
  width: 100%;

  font-size: 30px;
  font-weight: bold;
  text-align: center;

  margin: 20px 0;
}

article.about section.about-1 > .history .since {
  font-size: 20px;
  margin-left: 20vw;
}

article.about section.about-1 > .history .since strong {
  margin-right: 20px;
}

article.about section.about-2 > .organization .content {
  width: 60%;
  font-size: 20px;
  margin-bottom: 20px;
}

article.about section.about-2 > .organization img {
  width: 60%;
  height: 60%;
}

@media (max-width: 650px) {
  article.about section.about-2 > .organization .content {
    font-size: 3vw;
  }

  article.about section.about-2 > .organization img {
    width: 80%;
    height: 50%;
  }
}

@media (max-width: 450px) {
  article.about section > span {
    font-size: 7vw;
  }

  article.about section.pop.about-1::after,
  article.about section.pop.about-2::after,
  article.about section.about-1 > .history::after,
  article.about section.about-2 > .organization::after {
    font-size: 5vw;
  }

  article.about section.about-1 > .history .since {
    display: flex;
    flex-direction: column;
  }

  article.about section.about-2 > .organization .content {
    width: 80%;
    font-size: 15px;
    margin-bottom: 20px;
  }

  article.about section.about-2 > .organization img {
    width: 90%;
    height: 40%;
  }
}
