article.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#map {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: 40vw;
  margin-top: 50px;
  margin-bottom: 20px;
  background: whitesmoke;
}

article.contact .way-info {
  color: aliceblue;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;

  margin: 0px 20px;
  margin-bottom: 20px;
}

article.contact .way-info strong.title {
  font-size: 23px;
  line-height: 60px;
}

@media (max-width: 600px) {
  #map {
    margin-bottom: 15px;
  }

  article.contact .way-info {
    font-size: 14px;
    line-height: 30px;

    margin-bottom: 15px;
  }

  article.contact .way-info strong.title {
    font-size: 18px;
    line-height: 50px;
  }
}
