@font-face {
  font-family: Raleway;
  src: url('./fonts/Raleway/Raleway-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'EliceDigitalBaeum_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/EliceDigitalBaeum_Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NanumBarunpen';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GyeonggiTitleM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  word-break: keep-all;
}

a {
  text-decoration: none;
  color: black;
}

button {
  border: none;
  background: none;
  padding: 0 0;
  cursor: pointer;
}

img {
  -webkit-user-drag: none;
}

div,
span {
  user-select: none;
}

:root::-webkit-scrollbar {
  display: none;
}
